extends project.jade

block figure
	img(src='images/4x4wiring.png', srcset='images/4x4wiring.x15.png 1.5x, images/4x4wiring.x2.png 2x', alt='4x4 Wiring Solutions')
block title
	h2 4x4 Wiring Solutions
block content
	p I designed and built a single-page website for a car electrical tradesman. I optimised for loading performance and included a plugin to include his Facebook feed on the page.
block links
	+footer({web:'http://www.4x4wiringsolutions.com.au', share: {url: 'http://www.4x4wiringsolutions.com.au', id: '4x4wiring'}})
