extends project.jade

block figure
	img(src='images/analogfolk.x2.jpg', alt='AnalogFolk')
block title
	h2 AnalogFolk, London
block content
	p I worked on a hybrid banking app and as part of the UI team, I developed the UI kit used for the app. Worked with cutting edge technology such as ES6 and ESDoc, as well as building custom animations on the top of the GSAP Library.
