.project
	p(data-height='560', data-theme-id='13254', data-slug-hash='azPMyL', data-default-tab='result', data-user='sandraszenti', class='codepen' style='height:560px') See the Pen
		a(href='http://codepen.io/sandraszenti/pen/azPMyL/') Loading animations
		| by Sandra Szenti (
		a(href='http://codepen.io/sandraszenti') @sandraszenti
		| ) on
		a(href='http://codepen.io') CodePen
		| .
	script(async, src='//assets.codepen.io/assets/embed/ei.js')

	.description
		h2 Codepen example
		p Loading animations with CSS is something that I like to code with minimalistic markup. Each of the animations above is one single span with a loading message for accessibility.
	.footer
		a(href="#")
			span.icon-github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-export