extends project.jade

block figure
	p(data-height='560', data-theme-id='13254', data-slug-hash='azPMyL', data-default-tab='result', data-user='sandra-arato', class='codepen' style='height:560px') See the Pen
		a(href='http://codepen.io/sandra-arato/pen/azPMyL/') Loading animations
		| by Sandra Arato (
		a(href='http://codepen.io/sandra-arato') @sandra-arato
		| ) on
		a(href='http://codepen.io') CodePen
		| .
	script(async, src='//assets.codepen.io/assets/embed/ei.js')
block title
	h2 Codepen example
block content
	p Loading animations with CSS is something that I like to code with minimalistic markup. Each of the animations above is one single span with a loading message for accessibility.
block links
	+footer({web:'http://codepen.io/sandra-arato/pen/azPMyL/', share: {url:'http://codepen.io/sandra-arato/pen/azPMyL/', id:'anim'}})