extends project.jade

block figure
	img(src='images/brittrip.x15.png', sizes='(min-width: 440px) 192px, 100vw', srcset='images/brittrip.png 440w, images/brittrip.png 1x, images/brittrip.x15.png 1.5x, images/brittrip.x2.png 2x, images/brittrip.x15.png', alt='Brit Trip logo')
block title
	h2 BritTrip
block content
	p The winning mobile app at the hackathon organized by Yahoo and VisitBritain. It's built with Ionic, Angular, Sass and Handlebars and uses the TravelTime Platform.
block links
	+footer({ github:'https://github.com/sandra-arato/BritTrip/', share: {id:'brittrip', url:'https://github.com/sandra-arato/BritTrip'}})