extends project.jade

block figure
	img(src='images/brittrip.png', srcset='brittrip.x15.png 1.5x', alt='Brit Trip logo')
block title
	h2 BritTrip
block content
	p The winning mobile app at the hackathon organized by Yahoo and VisitBritain. It's built with Ionic, Angular, Sass and Handlebars and uses the TravelTime Platform.
block links
	+footer({ github:'https://github.com/sandraszenti/BritTrip/', share: {id:'brittrip', url:'https://github.com/sandraszenti/BritTrip'}})