.project
	p(data-height='420', data-theme-id='13254', data-slug-hash='XJyOEK', data-default-tab='result', data-user='sandraszenti', class='codepen' style='height:420px') See the Pen
		a(href='http://codepen.io/sandraszenti/pen/XJyOEK/') Checkbox variations
		| by Sandra Szenti (
		a(href='http://codepen.io/sandraszenti') @sandraszenti
		| ) on
		a(href='http://codepen.io') CodePen
		| .
	script(async, src='//assets.codepen.io/assets/embed/ei.js')
	.description
		h2 Codepen example
		p Creating semantically correct and visually clean UI is always good fun. In this example, I used pseudo elements and transitions to display checkboxes in different ways.
	.footer
		a(href="#")
			span.icon-github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-share