extends project.jade

block figure
	p(data-height='420', data-theme-id='13254', data-slug-hash='XJyOEK', data-default-tab='result', data-user='sandra-arato', class='codepen' style='height:420px') See the Pen
		a(href='http://codepen.io/sandra-arato/pen/XJyOEK/') Checkbox variations
		| by Sandra Arato (
		a(href='http://codepen.io/sandra-arato') @sandra-arato
		| ) on
		a(href='http://codepen.io') CodePen
		| .
	script(async, src='//assets.codepen.io/assets/embed/ei.js')
block title
	h2 Codepen example
block content
	p Creating semantically correct and visually clean UI is always good fun. In this example, I used pseudo elements and transitions to display checkboxes in different ways.
block links
	+footer({web:'http://codepen.io/sandra-arato/pen/XJyOEK/', share: {id:'checkbox', url:'http://codepen.io/sandra-arato/pen/XJyOEK/'}})