.project
	figure
		img(src='images/expedia.png', alt='Expedia landing page')
	.description
		h2 Expedia - UI Toolkit
		p As a member of Client Side Engineering team, I worked on the front end framework of Expedia, the UI Toolkit. The toolkit currently supports 4 brands and numerous locales and languages. It's built on JSP tags, uses Handlebars and LESS.
	.footer
		a(href="#")
			span.icon-github View project on Github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-link
		a(href="#")
			span.icon-export
		