.project
	figure
		img(src='images/expedia.png', srcset='expedia.x15.png x1.5, expedia.x2.png x2', alt='Expedia landing page')
	.description
		h2 Expedia - UI Toolkit
		p As a member of Client Side Engineering team, I worked on the front end framework of Expedia, the UI Toolkit. The toolkit currently supports 4 brands and numerous locales and languages. It's built on JSP tags, uses Handlebars and LESS.
	.footer
		each val, index in {share:'one',github:'two',link:'three'}
			a(href=val)
				span(class= 'icon-' + index)= 'View project on ' + index
		