extends project.jade

block figure
	img(src='images/expedia.png', srcset='images/expedia.x15.png 1.5x, images/expedia.x2.png 2x', alt='Expedia landing page')
block title
	h2 Expedia - UI Toolkit
block content
	p As a member of Client Side Engineering team, I worked on the front end framework of Expedia, the UI Toolkit. The toolkit currently supports 4 brands and numerous locales and languages. It's built on JSP tags, uses Handlebars and LESS.
block links
	+footer({ web:'http://www.expedia.com', share: {id:'expedia', url: 'http://www.expedia.com'}})