.project
	figure
		img(src='images/fhb.png', alt='FHB Microsite for Home Loans')
	.description
		h2 FHB Home Loan Microsite
		p A freelance project for Mito Europe Ltd. built on Bootstrap. The jQuery UI based loan calculator gathers the input for redirecting users to the loan summary page that displays their expected monthly fee.
	.footer
		a(href="#")
			span.icon-github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-link
		a(href="#")
			span.icon-export
		