extends project.jade

block figure
	img(src='images/fhb.png', srcset='fhb.x15.png 1.5x, fhb.x2.png 2x', alt='FHB Microsite for Home Loans')
block title
	h2 FHB Home Loan Microsite
block content
	p A freelance project for Mito Europe Ltd. built on Bootstrap. A jQuery UI based loan calculator used to gather the input for redirecting users to the loan summary page that displays their expected monthly fee.
block links
	+footer({ web:'https://www.fhb.hu/maganszemelyek/Hitelek/lakashitel/index.html', share:{id:'fhb', url: 'https://www.fhb.hu/maganszemelyek/Hitelek/lakashitel/index.html'}})