.project
	figure
		img(src='images/frontliners.jpg', alt='Frontliners logo')
	.description
		h2 Frontliners
		p The project that won Heart Prize on UN Influx hackathon uses Meteor, LESS, Node.js, Twitter API and Rise API for gamification.
	.footer
		a(href="#")
			span.icon-github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-link
		a(href="#")
			span.icon-share
		