.project
	figure
		img(src='images/frontliners.png', alt='Frontliners project screenshot')
	h2 Frontliners
	p At the UN Influx hackathon, I won the Heart prize with the project that helps to connect UN Volunteers with the public by generating a rank through the Rise Gamification API and the volunteers' twitter activity.