extends project.jade

block figure
	img(src='images/frontliners.jpg', alt='Frontliners logo')
block title
	h2 Frontliners
block content
	p The project that won Heart Prize on UN Influx hackathon uses Meteor, LESS, Node.js, Twitter API and Rise API for gamification.
block links
	+footer({id:'frontliners', github:'https://github.com/sandraszenti/UNhackathon', share: 'https://github.com/sandraszenti/UNhackathon'})