extends project.jade

block figure
	img(src='images/frontliners.jpg', sizes='(min-width: 440px) 192px, 100vw', srcset='images/frontliners.jpg 440w, images/frontliners.jpg 1x, images/frontliners.x15.jpg 1.5x, images/frontliners.x15.jpg', alt='Frontliners logo')
block title
	h2 Frontliners
block content
	p The project that won Heart Prize on UN Influx hackathon uses Meteor, LESS, Node.js, Twitter API and Rise API for gamification.
block links
	+footer({github:'https://github.com/sandraszenti/UNhackathon', share: {id:'frontliners', url: 'https://github.com/sandraszenti/UNhackathon'}})