extends project.jade

block figure
	img(src='images/hive.png', srcset='images/hive.15x.png 1.5x, images/hive.2x.png 2x', alt='Hive portfolio')
block title
	h2 We Are Hive
block content
	p Site build for Hive technology design studio using Swig, Gulp, Sass, and other optimising technologies to improve loading performance.
block links
	+footer({ web:'http://www.wearehive.co.uk', share: {id:'expedia', url: 'http://www.wearehive.co.uk'}})