.project.double
	figure
		img(src='images/carib.png', alt='Caribbean Island Hoppers project screenshot')
	.description
		h2 Caribbean Island Hoppers
		p A mini-blog about a trip to the Caribbean built on Ghost blogging platform and a self-designed theme. It's deployed via Heroku on a node instance.
	.footer
		a(href="#")
			span.icon-github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-link
		a(href="#")
			span.icon-export