extends project.jade

block figure
	img(src='images/carib.png', srcset='images/carib.x15.png 1.5x, images/carib.x2.png 2x', alt='Caribbean Island Hoppers project screenshot')
block title
	h2 Caribbean Island Hoppers
block content
	p A mini-blog I wrote about a 30-day trip to the Caribbean. I designed the responsive layout and the theme of the blog and then used the Ghost blogging platform for structure and content management. Deployed via heroku, on a node instance.
block links
	+footer({github:'https://github.com/sandra-arato/pirates-blog', web:'http://carib.idoestravel.com', share:{id:'carib', url: 'http://carib.idoestravel.com'}})
