.project.double
	figure
		img(src='images/islandhoppers.png', alt='Caribbean Island Hoppers project screenshot')
	.description
		h2 Caribbean Island Hoppers
		p A mini-blog about a trip to the Caribbean built on Ghost blogging platform and a self-designed theme. It's deployed via Heroku on a node instance.