meta(charset='utf-8')
meta(http-equiv='X-A-Compatible', content='IE=edge')
meta(http-equiv='content-language', content='en-gb')
title Sandra Arato Frontend Developer
meta(name='description', content='Front end projects with semantic HTML, accessible websites and lovely JavaScript. You can also find my resume here.')
meta(author='Sandra Arato')
//[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]
link(rel='icon', href='favicon.png')
link(rel='apple-touch-icon-precomposed', href='apple-touch-icon-precomposed.png')
//- Mobile
meta(name='HandheldFriendly', content='True')
meta(name='viewport', content='width=device-width, initial-scale=1')
//- Schema
meta(itemprop='name', content='Sandra Arato\'s portfolio')
meta(itemprop='description', content='Portfolio and Resume of Frontend Developer Sandra Arato')
meta(itemprop='codeRepository', content='https://github.com/sandra-arato')
meta(itemprop='image', content='images/portfolio.png')
//- Twitter
meta(name='twitter:card', content='summary-large-image')
meta(name='twitter:title', content='Sandra Arato')
meta(name='twitter:description', content='Portfolio and Resume of Frontend Developer Sandra Arato')
meta(name='twitter:image:src', content='images/portfolio.png')
//- Open Graph data
meta(name='og:title', content='Sandra Arato\'s Portfolio')
meta(name='og:type', content='website')
meta(name='og:url', content='http://sandra.idoescode.com')
meta(name='og:image', content='images/portfolio.png')
meta(name='og:description', content='Portfolio and Resume of Frontend Developer Sandra Arato')




