extends project.jade

block figure
	img(src='images/monofab.png', srcset='images/monofab.x15.png 1.5x, images/monofab.x2.png 2x', alt='UV printer website')
block title
	h2 MonoFab
block content
	p I designed and built this single-page product website for 3D technology with a mobile first approach on the top of Skeleton framework. I optimised for web page performance and accessibility.
block links
	+footer({github:'https://github.com/sandraszenti/monofab', web:'http://www.monofab.hu', share: {url: 'http://www.monofab.hu', id: 'monofab'}})