mixin footer(sharing)
	.footer
		each val, index in sharing
			case index
				when 'share'
					a(href='#' + val.id, class='share icon-share', role='button') Share this project
					ul.share(id=val.id) Choose sharing option:
						li: a(href='https://www.facebook.com/sharer/sharer.php?u='+val.url): span.icon-facebook2 Facebook
						li: a(href='http://twitter.com/share?text=Awesome project by @whatevertechno!&url='+val.url): span.icon-twitter Twitter
						li: a(href='https://plus.google.com/share?url='+val.url): span.icon-google-plus Google+
				when 'id'
					return
				default
					a(href=val)
						span(class= 'icon-' + index)= 'View project on ' + index

.project
	figure
		block figure
			img(src='http://placekitten.com/g/300/200')
	.description
		block title
			h2 My test project
		block content
			p Bear claw pastry candy canes toffee cupcake. Wafer donut macaroon. Tootsie roll sweet jelly-o. Hello.
		block links
			+footer({github:'https://github.com/sandraszenti', share:'test'})


		