mixin footer(sharing)
	.footer
		each val, index in sharing
			case index
				when 'share'
					a(class='share icon-share', role='button', href='#'+val.id) Share this project
					div(tabindex='-1', id=val.id, aria-hidden='true')
						span Share on:
						ul.share
							li: a(href='https://www.facebook.com/sharer/sharer.php?u='+val.url, target='_blank'): span.icon-facebook2 Facebook
							li: a(href='http://twitter.com/share?text=Awesome project by @whatevertechno!&url='+val.url, target='_blank'): span.icon-twitter Twitter
							li: a(href='https://plus.google.com/share?url='+val.url, target='_blank'): span.icon-google-plus Google+
				when 'id'
					return
				default
					a(href=val, target='_blank')
						span(class= 'icon-' + index)= 'View project on ' + index

article.project
	figure
		block figure
			img(src='http://placekitten.com/g/300/200')
	.description
		block title
			h2 My test project
		block content
			p Bear claw pastry candy canes toffee cupcake. Wafer donut macaroon. Tootsie roll sweet jelly-o. Hello.
		block links
			+footer({github:'https://github.com/sandra-arato', share:'test'})
