mixin footer(sharing)
	.footer
		each val, index in sharing
			case index
				when 'share'
					a(href='#' + this.id, class='sharing')
						span.icon-share Share project
					ul(id=id, role='listbox')
						li.fb(role='option'): a(href='https://www.facebook.com/sharer/sharer.php?u='+val): span.icon-facebook2 Facebook
						li.tw(role='option'): a(href='http://twitter.com/share?text=Awesome project by @whatevertechno!&url='+val): span.icon-twitter Twitter
						li.go(role='option'): a(href='https://plus.google.com/share?url='+val): span.icon-google-plus Google+
				when 'id'
					return
				default
					a(href=val)
						span(class= 'icon-' + index)= 'View project on ' + index

.project
	figure
		block figure
			img(src='http://placekitten.com/g/300/200')
	.description
		block title
			h2 My test project
		block content
			p Bear claw pastry candy canes toffee cupcake. Wafer donut macaroon. Tootsie roll sweet jelly-o. Hello.
		block links
			+footer({github:'https://github.com/sandraszenti', share:'test'})


		