extends project.jade

block figure
	div.videowrapper
		iframe(src='https://player.vimeo.com/video/136847297' width='500' height='281' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen)
block title
	p.sub 2015
	h2 Performance Budgeting For A Seamless User Experience
block content
	p I spoke about performance budgeting at re:develop 2015. Re:develop conference is a one day developer conference, staged by developers to discuss the newest trends, share lessons learnt and spend valuable time in the company of peers.
block links
	+footer({github:'http://sandra-arato.github.io/redev15/', share:{id:'redev15', url: 'http://redevelop.io/'}})
