extends project.jade

block figure
	img(src='images/redlist.png', sizes='(min-width: 440px) 192px, 100vw', srcset='images/redlist.png 440w, images/redlist.png 1x, images/redlist.x15.png 1.5x, images/redlist.x2.png 2x, images/redlist.x15.png', alt='Word cloud')
block title
	p.sub 2014
	h2 Hacking the Redlist
block content
	p Data visualisation project that won the Mammals category at the Conservation Hackathon organized by CBER and ZSL.
block links
	+footer({github:'https://github.com/sandra-arato/hack_the_redlist', web: 'http://sandra-arato.github.io/hack_the_redlist/', share:{id:'redlist', url:'http://sandra-arato.github.io/hack_the_redlist/'}})
