extends project.jade

block figure
	img(src='images/redlist.png', srcset='images/redlist.x15.png 1.5x', alt='Word cloud')
block title
	h2 Hacking the Redlist
block content
	p Data visualisation project that won the Mammals category at the Conservation Hackathon organized by CBER and ZSL.
block links
	+footer({github:'https://github.com/sandraszenti/hack_the_redlist', web: 'http://sandraszenti.github.io/hack_the_redlist/', share:{id:'redlist', url:'http://sandraszenti.github.io/hack_the_redlist/'}})