extends project.jade

block figure
	div.videowrapper
		iframe(id='ytplayer', type='text/html', width='544', height='306', src='http://www.youtube.com/embed/a_DT4PFb9Os?autoplay=0', frameborder='0')
block title
	p.sub 2015
	h2 Shell Community Radio
block content
	p For Intel's IoT Roadshow we've built a community web radio that plays music according to the noise level of the environment. On the video, we show how you can connect to the radio through your web browser and listen to the songs.
block links
	+footer({github:'https://github.com/sandra-arato/shell-radio', share:{id:'shellradio', url: 'https://github.com/sandra-arato/shell-radio'}})
