.project
	figure
		img(src='http://placekitten.com/g/300/200')
	.description
		h2 My test project
		p Bear claw pastry candy canes toffee cupcake. Wafer donut macaroon. Tootsie roll sweet jelly-o. Hello.
	.footer
		a(href="#")
			span.icon-github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-share
		