extends project.jade

block figure
	div.videowrapper
		iframe(id='ytplayer', type='text/html', width='544', height='306', src='http://www.youtube.com/embed/3D2_UfArO3Y?autoplay=0', frameborder='0')
block title
	p.sub 2015
	h2 UN Influx Hackathon
block content
	p I participated at the UN Influx Hackathon and won the Heart Prize with my team for the most emotionally compelling project. Our platform engaged UN volunteers to challenge their followers to donate for specific causes via Twitter.
block links
	+footer({github:'https://github.com/sandra-arato/UNhackathon', share:{id:'unvideo', url: 'https://github.com/sandra-arato/UNhackathon'}})
