.project
	figure.videowrapper
		iframe(id='ytplayer', type='text/html', width='544', height='306', src='http://www.youtube.com/embed/3D2_UfArO3Y?autoplay=0', frameborder='0')
	.description
		h2 UN Influx Hackathon
		p I participated at the UN Influx Hackathon and won the Heart Prize with my team for the most emotionally compelling project. We built a platform that engages UN volunteers with the public by recognizing their activity and enabling them to challange friends and followers to donate for specific causes.
	.footer
		a(href="#")
			span.icon-github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-link
		a(href="#")
			span.icon-share