extends project.jade

block figure
	img(src='images/uvprinter.png', srcset='images/uvprinter.x15.png 1.5x, images/uvprinter.x2.png 2x', alt='UV printer website')
block title
	h2 UV Printer
block content
	p Simple product website for a digital printer I designed and built responsively with Bootstrap. Some technologies that I used were: Google Maps API, SVG, PHP for sending email, posting registration details to Google Spreadsheets via Google Docs API.
block links
	+footer({github:'https://github.com/sandra-arato/uvprinter', web:'http://www.uvprinter.hu', share:{id:'uvprinter', url: 'http://www.uvprinter.hu'}})