.project
	figure
		img(src='images/uvprinter.png', srcset='uvprinter.x15.png x1.5, uvprinter.x2.png x2', alt='UV printer website')
	.description
		h2 UV Printer
		p Simple product website for a digital printer built responsively with Bootstrap. Designing and building this site in 3 days helped to gather first impressions quickly and adjust UI accordingly.
	.footer
		a(href="#")
			span.icon-github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-link
		a(href="#")
			span.icon-share
		