.project
	figure
		img(src='images/uvprinter.png', alt='UV printer website')
	.description
		h2 UV Printer
		p Simple product website for a digital printer built responsively with Bootstrap.
	.footer
		a(href="#")
			span.icon-github
		a(href="#")
			span.icon-heart-outlined
		a(href="#")
			span.icon-link
		a(href="#")
			span.icon-export
		