extends project.jade

block figure
	img(src='images/wedding.x15.png', srcset='images/wedding.x15.png 1.5x, images/wedding.x2.png 2x', alt='Wedding website')
block title
	p.sub 2016
	h2 Wedding website
block content
	p As a small project for my wedding, I designed and built this one page website to share details with our guests. I used some animations to control the layout changes of the Polaroid photos, which tell our stories when users click on them.
block links
	+footer({web:'http://en.egycsipeteskuvo.hu', share: {url: 'http://en.egycsipeteskuvo.hu', id: 'egycsipet'}})
