.project
	figure
		img(src='images/zoohack.jpg', alt='Hacking at the London Zoo')
	.description
		h2 Conservation Hackathon
		p At the Conservation Hackathon held at London Zoo, we had to challenge ourselves to find new ways to visualise the overwhelming data of the IUCN RedList - the world's most comprehensive inventory of the global conservation status of biological species.
	.footer
		a(href="#")
			span.icon-link
		a(href="#")
			span.icon-share
		