@import "normalize";
@import "icomoon";
@import "colors";


@keyframes spin {
	100%{
		transform: rotate(360deg);
	}
}

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand|Jura:500);

* {
	box-sizing: bolder-box;
}

body {
	color: $text;
	background: $secondary;
	font-family: Quicksand, sans-serif;
	font-size: 16px;
	padding-bottom: 3rem;
	word-spacing: 0.2em;
}

p {
	line-height: 1.4em;
}

h1, h2, h3, h4, h5 {
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	margin-top: 2.6em;
	margin-bottom: 1.8em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.15em;
}

header {
	position: fixed;
	top: -18em;
	left: -3em;
	width: 10000px;
	transform: rotate(-4deg);
	font-size: 1.2em;
	z-index: 10001;

	nav {
		padding: 1.6em 0 1em 2em;
		background: #fff;
		font-family: 'Josefin Sans', sans-serif;
		box-shadow: 2px 1px 2em darken($secondary, 25%);

		a {
			text-transform: uppercase;
			color: $text;
			line-height: 1.4em;
			text-decoration: none;
			letter-spacing: 0.03em;
			margin: 0 1.2em;
			background-color: #fff;
			transition: color 0.3s ease;

			&:hover, &:active, &:focus, &.active {
				color: $primary;
				text-decoration: underline;
			}
		}
	}
}

#container {
	text-align: center;

	& > p {
		text-align: right;
		padding: 4em 2em 0 0;
	}
}

.project {
	box-sizing: border-box;
	vertical-align: top;
	text-align: left;
	background: #fff;
	padding: 1em;
	margin-bottom: 1.2em;
	box-shadow: 2px 1px 0.3em darken($secondary, 15%);

	figure {
		margin: 0;

		img {
			width: 100%;
		}
	}

	h2 {
		padding-top: 0.4em;
	}

	.footer {
		text-align: right;
		a {
			color: lighten($text, 30%);
			text-decoration: none;
			margin-right: 0.4em;

			&:hover, &:focus, &:active {
				color: lighten($text, 50%);
			}

			span {
				font-family: 'icomoon';
			}


		}
		
	}

	.videowrapper {
		float: none;
		clear: both;
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	
}

@media (min-width: 440px) and (max-resolution: 1.5dppx) {
	.col2 {
		.project {
			display: inline-block;
			width: 100%;
			vertical-align: bottom;

			figure {
				position:relative;
				display: inline-block;
				overflow:hidden;
				width: 25%;
				text-align: center;
			}

			.description {
				display: inline-block;
				width: 70%;
			}
		}
	}
}


@media (min-width: 810px) and (max-resolution: 1.5dppx) {
	.col2, .col5 {
		display: inline-block;
		vertical-align: top;
	}
	.col2 {
		.project {
			display: block;
			width: 14rem;

			figure {
				display: block;
				width: auto;
			}

			.description {
				display: block;
				width: auto;
			}
		}
	}

	.col5 {
		width: auto;

		.project {
			width: 36rem;
		}
	}

	#container {
		max-width: 1440px;
		margin: 0 auto;
		text-align: center;
	}
}

@media (min-width: 1400px) {
	#container > p {
		padding-top: 2em;
	}

	.col5 {
		width: 72rem;
		text-align: justify;

		.project {
			width: 35rem;
		}
	}

	.col2 {
		margin-right: 0.5rem;
	}
}
