doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= ('Sandra Szenti - Resume')
    link(rel='stylesheet', type='text/css', href='styles/main.min.css')
  body.skills
    header
      nav
        p.noshow Sandra Szenti
        a(href='index.html') Projects
        a(href='skills.html') Skills
        a.active(href='#') Contact
    article#container(role='main')
      h1 Contact
      p#social
        a(href='mailto:sandra@idoescode.com')
          | <span class="icon-mail"></span>
          | Email me
        a(href='https://twitter.com/whatevertechno')
          | <span class="icon-twitter"></span>
          | Find me on twitter 
        a(href='https://github.com/sandraszenti')
          | <span class="icon-github"></span>
          | Find me on GitHub 
        a(href='https://uk.linkedin.com/in/alexandraszenti')
          | <span class="icon-linkedin2"></span>
          | Find me on LinkedIn