doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= ('Sandra Szenti - Resume')
    link(rel='stylesheet', type='text/css', href='styles/main.min.css')
    script(src="/scripts/main.js")
  body.skills
    header
      nav
        a(href='index.html') Projects
        a.active(href='skills.html') Skills
        a(href='#') Contact
    article#container(role='main')
      h1 Contact
      p.social
        a(href='mailto:sandra@idoescode.com')
          | <span></span>
          | Email me
        a(href='#')
          | <span class="icon-twitter"></span>
          | Find me on twitter 
        a(href='#')
          | <span class="icon-linkedin2"></span>
          | Find me on LinkedIn
        a(href='#')
          | <span class="icon-github"></span>
          | Find me on GitHub 