doctype html
html(lang="en")
  head
    include ./includes/meta.jade
    link(rel='stylesheet', type='text/css', href='styles/main.min.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62810774-1', 'auto');
      ga('send', 'pageview');
  body.skills
    header
      nav
        p.noshow Sandra Arato
        a(href='index.html') Projects
        a(href='skills.html') Skills
        a.active(href='#') Contact
    article#container(role='main')
      h1 Contact
      p#social
        a(href='mailto:sandra@idoescode.com')
          | <span class="icon-mail"></span>
          | Email me
        a(href='https://twitter.com/whatevertechno')
          | <span class="icon-twitter"></span>
          | Find me on twitter 
        a(href='https://github.com/sandra-arato')
          | <span class="icon-github"></span>
          | Find me on GitHub 
        a(href='https://uk.linkedin.com/in/sszenti')
          | <span class="icon-linkedin2"></span>
          | Find me on LinkedIn