doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= ('Sandra Szenti - Front end developer')
    link(rel='stylesheet', type='text/css', href='styles/main.min.css')
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 Fun projects
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        This is going to be my portfolio.