doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= ('Sandra Szenti - Front end developer')
    link(rel='stylesheet', type='text/css', href='styles/main.min.css')
    script(defer, src="/scripts/main.js")
  body.portfolio
    header
      nav
        p(style='display:none') Sandra Szenti's
        a.active(href="#") Projects
        a(href="skills.html") Skills
        a(href="#") Contact
    article#container(role='main')
      p.intro This is a keyboard & screenreader friendly site.
      h1 Sandra Szenti's portfolio
      .col2
        include ./includes/frontliners.jade
        include ./includes/brittrip.jade
        include ./includes/redlist.jade
      .col5
        include ./includes/expedia.jade
        include ./includes/islandhoppers.jade
        include ./includes/animations.jade
        include ./includes/uvprinter.jade
        include ./includes/uninflux.jade
        include ./includes/fhb.jade
        include ./includes/checkbox.jade
      p
        a(href="#") Back to the top of the page

            