doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= ('Sandra Szenti - Front end developer')
    link(rel='stylesheet', type='text/css', href='styles/main.min.css')
    script(src="/scripts/main.js")
  body
    header
      nav
        a.active(href="#") Projects
        a(href="skills.html") Skills
        a(href="#") Contact
    article#container.col(role='main')
      h1 Sandra Szenti's portfolio
      p.
        This is some of the interesting projects I've been involved recently.
      include ./includes/test.jade
      include ./includes/frontliners.jade
      include ./includes/islandhoppers.jade
            