doctype html
html(lang="en")
  head
    include ./includes/meta.jade
    link(rel='stylesheet', type='text/css', href='styles/main.min.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62810774-1', 'auto');
      ga('send', 'pageview');
    script(defer src="/scripts/main.min.js")
  body.portfolio
    header
      nav
        p.noshow Sandra Szenti
        a.active(href='#') Projects
        a(href='skills.html') Skills
        a(href='contact.html') Contact
    article#container(role='main')
      p.intro This is a keyboard & screenreader friendly site.
      h1#heading(tabindex='-1') Sandra Szenti's portfolio
      .col2
        include ./includes/frontliners.jade
        include ./includes/brittrip.jade
        include ./includes/redlist.jade
      .col5
        .col
          include ./includes/expedia.jade
          include ./includes/islandhoppers.jade
          include ./includes/monofab.jade
          include ./includes/checkbox.jade
        .col
          include ./includes/animations.jade
          include ./includes/uninflux.jade
          include ./includes/uvprinter.jade
          include ./includes/fhb.jade
        
      p
        a(href="#heading") Back to the top of the page

            