doctype html
html(lang="en")
  head
    include ./includes/meta.jade
    link(rel='stylesheet', type='text/css', href='styles/main.min.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62810774-1', 'auto');
      ga('send', 'pageview');
    script(defer src="/scripts/main.min.js")
  body.skills
    header
      nav
        p.noshow Sandra Arato
        a(href="index.html") Projects
        a.active(href="#") Skills
        a(href="contact.html") Contact
    article#container(role='main', tabindex='-1')
      h1#heading(tabindex='-1') Skills & experience
      .col5
        .tools
          | <button type="button"><span class="icon-print">Print Resume</span></button><a role="button" href="../sandra-arato_FrontEndDev_Resume.pdf" download><span class="icon-download">Save Resume</span></a><button type="button"><span class="icon-share">Share Resume</span></button>
          div(tabindex='-1')
            span Choose sharing option:
            ul.share
              li: a(href='https://www.facebook.com/sharer/sharer.php?u=http://sandra.idoescode.com/skills.html'): span.icon-facebook2 Facebook
              li: a(href='http://twitter.com/share?text=The awesome resume of @whatevertechno!&url=http://sandra.idoescode.com/skills.html'): span.icon-twitter Twitter
              li: a(href='https://plus.google.com/share?url=http://sandra.idoescode.com/skills.html'): span.icon-google-plus Google+
        section
          h2 Sandra Arato
          p sandra@idoescode.com
          p sandra.idoescode.com
        section
          h3 Front End Developer / Australia
          p A freelance developer with a practical skill set and front end performance and accessibility as a focus.
          p Currently travelling Australia and learning new skills on the way.
        section.experience
          h3 Projects

          p.client Client: 4x4WiringSolutions, Brisbane
          p I designed and built a one page website for a car electrical tradesperson.
          ul
            li Responsive layout, semantic HTML

          p.client Client: AnalogFolk, London
          p I worked on a hybrid banking app and as part of the UI team developed the UI kit used for the app.
          ul
            li Cutting edge technology with ES6, ESDoc, and advanced animations
            li Accessibility-first, semantic HTML

          p.client Client: Hive, remote
          p Rebuild of company portfolio site with static content based on design.
          ul
            li Using swig templates for content
            li Optimising page load time

          p.client Client: Expedia, London
          p At the Client Side Engineering Team of Expedia, I worked on the UI Toolkit, the front end framework of Expedia. Most important projects in which I acted as main contributor:
          ul
            li Implementing functional testing with Funcunit
            li Transferring the toolkit from component based plugins to AMD modules

        section.talents
          h3 Skills
          p
            | Front End Technologies
            ul
              li Semantic HTML
              li HTML templating
              li Jade
              li swig
              li Handlebars
              li JSP tags
              li CSS3
              li Less
              li SASS
              li SVG
              li Cross-browser development
              li Mobile-first
              li Responsive
              li Bootstrap
              li JavaScript
              li jQuery
              li ES6
              li ESDoc
              li AMD
              li gulp
              li Ionic Framework
              li Vue.js
              li GSAP
          p Testing
            ul
              li Unit testing
              li TDD
              li Jasmine
              li Funcunit
              li TestNG
              li Visual regression testing
              li PhantomJS
              li BrowserStack
              li Automated testing
              li Jenkins
              li Cucumber
          p Accessibilty
            ul
              li ARIA
              li WCAG guidelines
              li Landmarks
              li JAWS
              li VoiceOver
              li NVDA
              li Colour contrast
              li Focus Management
              li Semantic HTML
              li Accessibility Testing
          p Performance
            ul
              li Web page performance
              li Webpagetest
              li Sitespeed.io
              li PageInsight
              li Critical Rendering Path
              li Optimising page load
              li Performance budgeting
              li Rendering performance
              li Animations
          p General
            ul
              li Version Control
              li Git
              li SourceTree
              li Heroku
              li Laravel
              li Minimal Java
              li Facebook API
              li Google Maps API
              li Google Docs APIs
              li Photoshop
              li 3D modelling
              li 3D printing
              li Basic IoT stuff
      p
        a(href="#heading") Back to the top of the page
