doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= ('Sandra Szenti - Resume')
    link(rel='stylesheet', type='text/css', href='styles/main.min.css')
    script(src="/scripts/main.js")
  body
    header
      nav
        a(href="index.html") Projects
        a(href="#") Skills
        a(href="#") Contact
    h1 Fun projects
    #container.col
      p.
        This is going to be my resume.